{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col l12">
            <h2 class="blue-grey-text text-darken-4 center-align">Share with the community</h2>
        </div>
    </div>
    <div class="row new-recipe">
        <form method="POST" action="{{ url_for('add_recipe') }}" class="recipe-form col s12 m10 offset-m1 l10 offset-l1">
            <!-- Recipe name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix form-icon"></i>
                    <input name="recipe_name" id="recipe_name" maxlength="100" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe name input -->
            <!-- Recipe category input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix form-icon"></i>
                    <select name="category_name" id="category_name" class="validate" required>
                        <option value="" disabled selected></option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- Recipe category input -->
            <!-- Add recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix form-icon"></i>
                    <textarea name="recipe_description" id="recipe_description" maxlength="300" class="validate"
                        required></textarea>
                    <label for="recipe_description">Describe Your Recipe</label>
                </div>
            </div>
            <!-- Add recipe description -->
            <!-- Add image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-image prefix form-icon"></i>
                    <input name="image_url" id="image_url" type="url" class="validate" pattern="https?://.+" required>
                    <label for="image_url">Paste the image URL</label>
                </div>
            </div>
            <!-- Add image url -->
            <!-- Add ingredient list -->
            <div id="ingredient">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensils prefix form-icon"></i>
                        <input id="ingredient_name_1" name="ingredient_name" type="text">
                        <label for="ingredient_name_1">Ingredient</label>
                    </div>
                </div>
                <!-- Amount -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-balance-scale-right prefix form-icon"></i>
                        <input id="amount_1" name="amount" type="text">
                        <label for="amount_1">Amount</label>
                    </div>
                    <!-- Unit -->
                    <div class="input-field col s6">
                        <i class="fas fa-balance-scale-right prefix form-icon"></i>
                        <input id="unit_1" type="text" name="unit">
                        <label for="unit_1">Unit Type</label>
                    </div>
                </div>
            </div>




            <!-- Add Button -->
            <div class="row">
                <div class="col s12 center-align add-ing">
                    <button id="add-ingredient" class="btn" type="button">Add Ingredient
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>


            <!-- Add ingredient list -->
            <!-- Add Prep Steps -->
            <div class="row recipe-item" id="prep-step">
                    <div class="input-field prep_step col s12">
                        <i class="fas fa-pencil-alt prefix form-icon"></i>
                        <textarea name="prep_step" id="prep_step_1" maxlength="500"></textarea>
                        <label for="prep_step_1">Enter Preparation Step</label>
                    </div>
               
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn" id="add-step" type="button">Add step
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <br>
                    <button class="btn" type="submit">Add Recipe
                        <i class="material-icons center-align"></i>
                    </button>
                    <p>Added recipes will automatically be added to your profile.</p>
                </div>
            </div>
            <!-- Add Prep Steps -->

        </form>
    </div>
</div>



{% endblock %}