{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="recipe-wrapper row">
        <div class="col s12 ">
            <div class="recipe-title center-align">
                <h2>{{ recipe.recipe_name }}</h2>
            </div>
            
            <div class="col s12">
                    <div class="col s12 push-m6 m6 push-l6 l6 recipe-image">
                        <img src="{{ recipe.image_url }}" alt="">
                        <span class="made-by right">By: {{ recipe.username }}</span>
                    </div>
                    <div class="col s12 pull-m6 m6 pull-l6 l6">
                        <div class="row border">
                            <div class="col l12">
                                <table>
                                    <tr>
                                        <th>Ingredients:</th>
                                    </tr>
                                    {% for ingredient in ingredients %}
                                    <tr>
                                        <td class="ingredient-name">{{ ingredient.ingredient_name }}</td>
                                        <td class="ingredient-info">{{ ingredient.amount }}</td>
                                        <td class="ingredient-info">{{ ingredient.unit }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col border">
                        <ol>
                            {% for step in prep_steps %}

                            <li>{{ step }}</li>

                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}