{% extends "base.html" %}
{% block content %}


<div class="row main-background valign-wrapper">
    <div class="col s12 center-alight">
        <h1 class="white-text text-darken-1">The<br>Communal<br>Kitchen</h1>
    </div>
</div>


<div class="row">
    {% for recipe in recipes %}
    <a href="{{ url_for('open_recipe', recipe_id=recipe._id) }}">
    <div class="cards-section col s12 m6 l4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
            </div>
            <div class="card-content center-align">
                <span class="blue-grey-text text-darken-4 bold">{{ recipe.recipe_name }}</span>
                <p class="blue-grey-text text-darken-4">{{ recipe.recipe_description }}</p>
            </div>
        </div>
    </div>
</a>
    {% endfor %}
</div>



{% endblock %}