{% extends "base.html" %}
{% block content %}


<div class="row main-background valign-wrapper">
    <div class="col s12 center-alight">
        <h1 class="white-text text-darken-1">The<br>Communal<br>Kitchen</h1>
    </div>
</div>

<!-- Search bar -->
<section class="search">
    <form class="col s12" action="{{ url_for('search') }}" method="POST">
        <div class="row">
            <input type="hidden" id="search_site" name="search_site" value="recipes.html">
            <div class="input-field center-align search">
                <input type="text" name="recipe_search" id="recipe_search">
                <label for="recipe_search">Search</label>
            </div>
        </div>
    </form>
</section>
<!-- Search bar -->


<div class="row">
    {% for recipe in recipes %}
    <a href="{{ url_for('open_recipe', recipe_id=recipe._id) }}">
        <div class="cards-section col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <div class="card-content center-align">
                    <span class="blue-grey-text text-darken-4 bold">{{ recipe.recipe_name }}</span>
                    <p class="blue-grey-text text-darken-4">{{ recipe.recipe_description }}</p>
                </div>
                <span class="made-by">By: {{ recipe.username }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock %}